#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
}
h1 {
  font: 68px/68px "Chewy",Arial, sans-serif;
  color: #2C9090;
}

#message {
  font: 30px/30px "Chewy", Arial, sans-serif;
  color: #2C9090;
  padding-bottom: 30px;
}

.col-md-4 {
  font: 100px/100px "Chewy", Arial, sans-serif;
  text-align: center;
  color: #BB2929;
  padding-top: 30px;
}

.btn {
  font: 25px/25px "Chewy", Arial, sans-serif;
  color:#2C9090;
  background-color: white;
}
